// .cart-fixed {
//     position: fixed;
//     top: 10%;
//     right: 5%;
//     width: 300px;
//     height: 300px;
//     background-color: rgb(216, 216, 216);
//     padding: 1rem;
//     border-radius: 1rem;
//
//     .sub-cart-elements {
//         display: flex;
//         justify-content: space-between;
//         line-height: 1.6rem;
//     }
// }
