.container-dashboard {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.left-side-dash {
    display: flex;
    flex-direction: column;
    width: 20%;
    overflow: hidden;
    height: auto;
    background-color: $color_deliveroo;
    padding-left: 2rem;
    padding-top: 3rem;
    padding-right: 2rem;

    .img-user {
        display: flex;
        justify-content: center;
        width: 40%;
        height: 15%;
        margin: 20px auto;
        border-radius: 50%;
        border: 2px solid $variable2;


        & > img {
            width: 100%;
            border-radius: 50%;
        }
    }

    & > h1 {
        text-align: center;
        color: $variable2;
    }

    & > form > #pls-plate {
        background-color: $variable2;
        color: $color_deliveroo;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        width: 90%;
        padding: 0.6rem $padding_button;
        margin-top: 1rem;
        margin-left: $margin_button_left;
        border: none;
        border-radius: $border_button;
        box-shadow: $shadow_button;
        transition: 0.2s ease-in-out;
    }


    i {
        margin-right: 22px;
        font-size: 18px;
    }

    .buttons-left-dash {
        display: flex;
        flex-direction: column;
        padding-top: 3rem;

        h4 {
            margin-top: 2.5rem;
            margin-left: 1.5rem;
            text-transform: uppercase;
            font-weight: bold;
            color: $variable2;
        }

        button {
            background-color: $variable2;
            color: $color_deliveroo;
            width: 90%;
            padding: 0.6rem $padding_button;
            margin-top: 1rem;
            margin-left: $margin_button_left;
            border: none;
            border-radius: $border_button;
            box-shadow: $shadow_button;
            position: relative;
            overflow: hidden;
            z-index: 1;
            transition: 0.5s;

            .plate-color {
                background-color: $primary;
            }

            .order-color {
                background-color: $complementary;
            }

            span {
                position: absolute;
                width: 25%;
                height: 100%;
                transform: translateY(150%);
                border-radius: 50%;
                left: calc((var(--n) - 1) * 25%);
                transition: 0.5s;
                transition-delay: calc((var(--n) - 1) * 0.1s);
                z-index: -1;
            }

            span:nth-child(1) {
                --n: 1;
            }

            span:nth-child(2) {
                --n: 2;
            }

            span:nth-child(3) {
                --n: 3;
            }

            span:nth-child(4) {
                --n: 4;
            }

        }

        a {
            width: 90%;
            font-size: 16px;
            text-transform: uppercase;
            margin-left: $margin_button_left;
            border-radius: $border_button;
            box-shadow: $shadow_button;
            margin-top: 100px;
        }

    }
}

.right-side-dash {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    overflow: auto;
    background-color: white;
    padding: 0 3rem;

    .header-right-dash {
        display: flex;
        justify-content: space-between;
        padding-top: 3rem;

        & > h3 > span {
            font-size: $font_username;
        }

        img {
            width: 120px;
            margin-right: 5px;
        }
    }

    .container-card {
        display: flex;
        justify-content: space-between;

        .card {
            flex-basis: calc((100% / 3) - 40px);
            height: 470px;
            border-radius: $border-card;
            box-shadow: $shadow_button;
            margin: 50px 0px;
            padding: 15px;

            & > h3 {
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                color: $color_deliveroo;
            }

            .mini-card {
                width: 85%;
                margin: 10px auto;
                padding: 15px;
                height: calc(100% / 3) - 50px;
                background-color: $color_deliveroo;
                color: $variable2;
                border-radius: $border-card;
                box-shadow: $shadow_button;

                hr {
                    margin: 0 0 5px 0;
                    border-color: $variable2;
                }

                .price-right {
                    display: flex;
                    justify-content: space-between;
                }

                p {
                    margin: 0;
                }
            }

            .graph-chart-js > h3 {
                text-align: center;
            }

            .percentual-feed {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 55%;
                height: 55%;
                margin: 40px auto;
                border-radius: 50%;
                border: 25px solid $color_deliveroo;

                & > h1, h4 {
                    margin: 0;
                    color: $color_deliveroo;
                    font-weight: bold;
                }
            }
        }
    }


    .last-order {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 2rem 0;

        h2 {
            margin-bottom: 1rem;
        }
    }

    .card-order {
        width: 100%;
        background-color: $color_deliveroo;
        border-radius: 18px;
        height: auto;
        margin-bottom: 2rem;
        box-shadow: $shadow_button;

        display: flex;
        justify-content: center;
        align-items: center;


        .card-relative {
            width: 95%;
            height: 90%;
            display: flex;
            justify-content: space-between;

            .order-info {
                color: $variable2;
                width: 70%;
                height: 100%;

                & > hr {
                    border-color: $variable2;
                }

                & > p:nth-last-child(2) {
                    margin-bottom: 0;
                }

            }

            .right-card-order {
                color: $variable2;
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;

                button {
                    background-color: $variable2;
                    color: $color_deliveroo;
                    border-radius: $border_button;
                    border: none;
                    padding: 0.6rem $padding_button;
                    margin-bottom: 10px;
                    box-shadow: $shadow_button;
                }
            }
        }
    }

    .footer-dash {
        display: flex;
        justify-content: space-between;

        button {
            background-color: $color_deliveroo;
            color: $variable2;
            border-radius: $border_button;
            border: none;
            padding: 0.6rem $padding_button;
            transition: box-shadow 0.22s ease-in-out, color 0.22s ease-in-out;
            margin-bottom: 20px;
        }
    }
}

// HOVER
.left-side-dash > form > #pls-plate:hover {
    color: $variable1;
    transform: scale(1.04);
}

.buttons-left-dash button:hover {
    color: $variable1;
}


.buttons-left-dash button:hover span {
    transform: translateY(0) scale(2);
}


.header-right-dash button:hover {
    color: $variable1;
    box-shadow: $shadow_button;
}

.footer-dash button:hover {
    color: $variable1;
    box-shadow: $shadow_button;
}
