@mixin default-border {
    border: 1px solid black;
}

.header-plate-ind {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 20px;
    background-color: $complementary;

    h4 {
        color: $color_text_3;
        margin: 0;
    }

    span {
        font-size: 26px;
        font-weight: bold;
        color: $color_deliveroo;
    }

    a {
        outline: none;

        img {
            width: 120px;
        }
    }

}


.list-plate {
    min-height: calc(100vh - 80px);
    padding: 30px 20px;
    background-color: $dashboard-secondary;

    h3 {
        color: $color_text_3;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 15px;
    }

    .plate_orderer {
      margin: 0 auto 5px auto;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
      width: 100%;

      i {
        padding: 8px;
        &:hover {
          cursor: pointer;
        }
      }

      i.my-active {
        color: red;
      }
      i.my-inactive {
        display: none;
      }

      .alph_order,
      .typ_order{
        width: 50%;
        justify-content: center;
        display: flex;
        align-items: center;
      }
    }

    .button-dashboard {
        text-align: center;
        width: 100%;
        margin: 20px auto 30px auto;

        button {
            color: $variable2;
            background-color: $color_deliveroo;
            width: 200px;
            height: 50px;
            font-size: 16px;
            font-weight: bold;
            border: none;
            border-radius: 15px;
            box-shadow: $shadow_button;
            transition: 0.2s ease-in-out;
        }

        button:hover {
            color: $color_text_3;
            transform: scale(1.02);
        }
    }

}


.dashboard_plate {
    width: 100%;
    margin: auto;

    .card-plate {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 15px;
        margin-bottom: 35px;
        border-radius: 5px;
        background-color: $variable2;
        box-shadow: $shadow_button;

        .plate-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 150px;
            flex-shrink: 0;
        }



        .column-img {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            width: 150px;
            height: 150px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 8px;

            & * {
                margin: 0;
                width: 40%;
                display: inline-block;
            }

            h5 {
                text-align: center
            }
        }

        .list-column {
            padding: 10px 10px;
            width: calc(100% - 370px);
            flex-grow: 1;

            & > p {
                font-size: 18px;
                margin: 0;
                font-weight: bold;
            }

            .checked-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 120px;

                p {
                    font-size: 18px;
                    font-weight: bold;
                    margin: 0;
                }
            }
        }

        .button-plate {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .edit-button {
                width: 130px;
                height: 30px;
                background-color: $color_deliveroo;
                color: $variable2;
                border: none;
                border-radius: 8px;
                margin-bottom: 12px;
                box-shadow: $shadow_button;
                transition: 0.2s ease-in-out;
            }

            .edit-button:hover {
               background-color: $primary;
               color: $color_text_3;
               transform: scale(1.02);
           }

            .delete-button {
                text-decoration: none;
                color: $variable2;
                width: 130px;
                height: 30px;
                text-align: center;
                border: none;
                background-color: $color_deliveroo;
                border-radius: 8px;
                box-shadow: $shadow_button;
                transition: 0.2s ease-in-out;
            }

            .delete-button:hover {

                background-color: red;
                color: $color_text_3;
                transform: scale(1.02);
            }

        }
    }
}

    @media all and (max-width: 450px) {
    .dashboard_plate {

        width: 100%;

        .card-plate {
            justify-content: space-between;
            width: 100%;
            flex-direction: column-reverse;
            height: auto;
            padding: 15px;

            .list-column {
                padding: 10px 5px;
                flex-grow: 1;
                width: 100%;
            }

            .plate-right {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;
                flex-shrink: 0;
                align-items: center;

                .column-img {
                    width: 200px;
                    height: 200px;
                    flex-shrink: 0;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;
                }

                .button-plate {
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    align-items: center;

                    .edit-button {
                        width: 200px;
                    }

                    .delete-button {
                        width: 200px;
                    }
                }
            }
        }
    }
}
