.button-dashboard {
      text-align: center;
      width: 100%;
      margin: 20px auto 30px auto;
      button {
          color: $variable2;
          background-color: $color_deliveroo;
          width: 200px;
          height: 50px;
          font-size: 16px;
          font-weight: bold;
          border: none;
          border-radius: 15px;
          box-shadow: $shadow_button;
          transition: 0.2s ease-in-out;
      }
      button:hover {
          color: $color_text_3;
          transform: scale(1.02);
      }
}

.header-dashboard-responsive {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80px;
  margin: 0 auto;

  svg {

    &:hover {
      cursor: pointer;
    }
  }

  .logo {

    img {

      width: 150px;
      height: auto;
    }
  }
}

.container-dashboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dashboard-index {
  padding: 0 30px;
}

.left-side-dash {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-shrink: 0;
    min-height: 100vh;
    background-color: $color_deliveroo;
    padding: 8px 20px;
    position: relative;

    .close-dash-menu {
      display: none;
      color: white;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 8px;
      right: 8px;

      i {
        font-size: 30px;
      }
      &:hover {
        cursor: pointer;
      }
    }

    @media all and (max-width: 867px) {
        display: none;
        width: 100%;
        min-height: 100vh;

        .close-dash-menu {
          display: block;
        }
    }

    .img-user {
        display: flex;
        justify-content: center;
        width: 125px;
        height: 125px;
        flex-shrink: 0;
        margin: 20px auto;
        border-radius: 50%;
        border: 2px solid $variable2;
        background-size: cover;
        background-position: center;

        @media all and (min-width: 1200px) and (max-width: 1600px) {
            width: 100px;
            height: 100px;
        }


        @media all and (min-width: 868px) and (max-width: 1199px) {
            width: 90px;
            height: 90px;
        }

        @media all and (min-width: 576px) and (max-width: 867px) {
            width: 120px;
            height: 120px;
        }


        & > img {
            width: 100%;
            border-radius: 50%;
        }
    }

    & > h1 {
        color: $variable2;
        text-align: center;
        margin-bottom: 2rem;

        @media all and (min-width: 868px) and (max-width: 1999px) {
            font-size: 30px;
        }

    }

    & > form > #pls-plate {
        background-color: $variable2;
        color: $color_deliveroo;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        padding: 0.6rem $padding_button;
        margin-top: 1rem;
        border: none;
        border-radius: $border_button;
        box-shadow: $shadow_button;
        transition: 0.2s ease-in-out;
    }


    i {
        margin-right: 5px;
        font-size: 18px;
    }

    .buttons-left-dash {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 20px;

        h4 {
            // margin-top: 2.5rem;
            // margin-left: 1.5rem;
            text-transform: uppercase;
            font-weight: bold;
            color: $variable2;
        }

        button {
            background-color: $variable2;
            color: $color_deliveroo;
            width: 100%;
            padding: 0.6rem $padding_button;
            margin-top: 1rem;
            // margin-left: $margin_button_left;
            border: none;
            border-radius: $border_button;
            box-shadow: $shadow_button;
            position: relative;
            overflow: hidden;
            z-index: 1;
            transition: 0.5s;

            .plate-color {
                background-color: $primary;
            }

            .order-color {
                background-color: $complementary;
            }

            span {
                position: absolute;
                width: 25%;
                height: 100%;
                transform: translateY(150%);
                border-radius: 50%;
                left: calc((var(--n) - 1) * 25%);
                transition: 0.5s;
                transition-delay: calc((var(--n) - 1) * 0.1s);
                z-index: -1;
            }

            span:nth-child(1) {
                --n: 1;
            }

            span:nth-child(2) {
                --n: 2;
            }

            span:nth-child(3) {
                --n: 3;
            }

            span:nth-child(4) {
                --n: 4;
            }

        }

        button:disabled {
            background-color: rgb(202, 202, 202);
            color: rgb(107, 107, 107);
        }

        a {
            width: 100%;
            font-size: 16px;
            text-transform: uppercase;
            border-radius: $border_button;
            box-shadow: $shadow_button;
            margin: 25px 0;
        }

    }
}

.right-side-dash {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
    height: auto;
    overflow: auto;
    background-color: white;

    @media all and (max-width: 867px) {
        width: 100%;
        .header-dashboard-responsive {
          display: flex;
        }
        #header-no-search {
          display: none;
        }
    }

    .header-right-dash {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;

        & > h3 {

            @media all and (min-width: 868px) and (max-width: 1199px) {
                font-size: 20px;
            }

            @media all and (min-width: 576px) and (max-width: 867px) {
                display: none;
            }

            @media all and (max-width: 575px) {
                display: none;
            }

        }

        & > h3 > span {
            font-size: $font_username;

            @media all and (min-width: 868px) and (max-width: 1199px) {
                font-size: 25px;
            }

            @media all and (min-width: 576px) and (max-width: 867px) {
                display: none;
            }

            @media all and (max-width: 575px) {
                display: none;
            }

        }

        img {
            width: 120px;
            margin-right: 5px;

            @media all and (min-width: 868px) and (max-width: 1199px) {
                width: 100px;
            }

            @media all and (max-width: 575px) {
                width: 70px;
            }

        }
    }

    .container-card {
        display: flex;
        justify-content: space-between;

        @media all and (min-width: 868px) and (max-width: 1199px) {
            display: flex;
            flex-direction: column;
        }

        @media all and (min-width: 576px) and (max-width: 867px) {
            display: flex;
            flex-direction: column;
        }

        @media all and (max-width: 575px) {
            display: flex;
            flex-direction: column;
        }



        .card {
            flex-basis: calc((100% / 3) - 40px);
            height: 500px;
            border-radius: $border-card;
            box-shadow: $shadow_button;
            margin: 15px 0px;
            padding: 15px;

            @media all and (min-width: 1200px) and (max-width: 1600px) {
                flex-basis: calc((100% / 3) - 20px);
                height: auto;
            }

            @media all and (min-width: 868px) and (max-width: 1199px) {
                height: auto;
                flex-basis: 100%;
                margin: 50px 0px 0px 0px;
            }


            & > h3 {
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                color: $color_deliveroo;

                @media all and (min-width: 1200px) and (max-width: 1600px) {
                    font-size: 24px;
                }


                @media all and (min-width: 868px) and (max-width: 1199px) {
                    font-size: 20px;
                }

                @media all and (min-width: 576px) and (max-width: 867px) {
                    font-size: 18px;
                }

                @media all and (max-width: 575px) {
                    font-size: 16px;
                }

            }

            .mini-card {
                width: 90%;
                margin: 10px auto;
                padding: 20px;
                height: calc(100% / 3);
                background-color: $color_deliveroo;
                color: $variable2;
                border-radius: $border-card;
                box-shadow: $shadow_button;

                @media all and (min-width: 1200px) and (max-width: 1600px) {

                }

                hr {
                    margin: 0 0 5px 0;
                    border-color: $variable2;
                }

                .price-right {
                    display: flex;
                    justify-content: space-between;
                }

                p {
                    margin: 0;
                }
            }

            .graph-chart-js {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }

            .percentual-feed {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 250px;
                height: 250px;
                margin: auto;
                border-radius: 50%;
                border: 35px solid $color_deliveroo;

                @media all and (min-width: 1200px) and (max-width: 1600px) {
                    width: 200px;
                    height: 200px;
                    border: 25px solid $color_deliveroo;
                }

                @media all and (min-width: 868px) and (max-width: 1199px) {
                    width: 150px;
                    height: 150px;
                    border: 15px solid $color_deliveroo;
                }

                @media all and (max-width: 575px) {
                    width: 130px;
                    height: 130px;
                    border: 14px solid $color_deliveroo;
                }

                & > h1 {
                    margin: 0;
                    color: $color_deliveroo;
                    font-weight: bold;

                    @media all and (min-width: 868px) and (max-width: 1199px) {
                        font-size: 30px;
                    }

                    @media all and (min-width: 576px) and (max-width: 867px) {
                        font-size: 26px;
                    }

                    @media all and (max-width: 575px) {
                        font-size: 22px;
                    }
                }

                & > h4 {
                    margin: 0;
                    color: $color_deliveroo;
                    font-weight: bold;

                    @media all and (min-width: 868px) and (max-width: 1199px) {
                        font-size: 16px;
                    }

                    @media all and (min-width: 576px) and (max-width: 867px) {
                        font-size: 14px;
                    }

                    @media all and (max-width: 575px) {
                        font-size: 12px;
                    }
                }
            }
        }

        #resp-card {
            @media all and (max-width: 575px) {
                height: 200px;
            }
        }
    }

    .card-feed {

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .mini-card-feed {
            width: calc(100% / 4);
            margin: 10px auto;
            padding: 20px;
            height: 200px;
            background-color: $color_deliveroo;
            color: $variable2;
            border-radius: $border-card;
            box-shadow: $shadow_button;

            .feedbacks-cards {
                display: flex;
                justify-content: space-between;
            }

            @media all and (min-width: 1200px) and (max-width: 1600px) {

            }

            p {
                margin: 0;
            }
        }

    }

    .last-order {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 4rem 0 1rem 0;

        h2 {
            margin-bottom: 1rem;

            @media all and (max-width: 575px) {
                font-size: 18px;
            }

        }
    }

    .card-order {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $color_deliveroo;
        border-radius: 18px;
        height: auto;
        margin-bottom: 2rem;
        box-shadow: $shadow_button;
        padding: 10px;



        .card-relative {
            width: 95%;
            height: 90%;
            display: flex;
            justify-content: space-between;

            .order-info {
                color: $variable2;
                width: 70%;
                height: 100%;

                h3 {

                    @media all and (min-width: 576px) and (max-width: 867px) {
                        font-size: 18px;
                    }

                    @media all and (max-width: 575px) {
                        font-size: 15px;
                    }

                }

                & > hr {
                    border-color: $variable2;
                }

                & > p:nth-last-child(2) {
                    margin-bottom: 0;
                }

            }

            .right-card-order {
                color: $variable2;
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;

                @media all and (min-width: 576px) and (max-width: 867px) {
                    width: 20%;
                    height: 100%;
                }


                button {
                    background-color: $variable2;
                    color: $color_deliveroo;
                    border-radius: $border_button;
                    border: none;
                    padding: 0.6rem $padding_button;
                    margin-bottom: 10px;
                    box-shadow: $shadow_button;

                    @media all and (min-width: 576px) and (max-width: 867px) {
                        padding: 0.2rem $padding_button;
                        font-size: 11px;
                        height: 42px;
                        width: 70px;
                        margin-bottom: 0;
                    }

                    @media all and (max-width: 575px) {
                        padding: 0.2rem $padding_button;
                        font-size: 11px;
                        height: 42px;
                        width: 70px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .footer-dash {
        display: flex;
        justify-content: space-between;

        button {
            background-color: $color_deliveroo;
            color: $variable2;
            border-radius: $border_button;
            border: none;
            padding: 0.6rem $padding_button;
            transition: box-shadow 0.22s ease-in-out, color 0.22s ease-in-out;
            margin-bottom: 20px;
        }
    }
}

// HOVER
.left-side-dash > form > #pls-plate:hover {
    color: $variable1;
    transform: scale(1.04);
}

.buttons-left-dash button:hover {
    color: $variable1;
}


.buttons-left-dash button:hover span {
    transform: translateY(0) scale(2);
}


.header-right-dash button:hover {
    color: $variable1;
    box-shadow: $shadow_button;
}

.footer-dash button:hover {
    color: $variable1;
    box-shadow: $shadow_button;
}

// MI DISSOCIO DAL QUANTITATIVO ENORME DI RIGHE IN QUESTO FILE
.myactive {
  display: flex;
}
.disabled {
  display: none;
}
