.container-dashboard {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.left-side-dash {
    width: 25%;
    height: auto;
    background-color: darkgray;

    hr {
        color: rgb(190, 190, 190);
    }

    padding-left: 2rem;
    padding-top: 3rem;
    padding-right: 2rem;

    display: flex;
    flex-direction: column;

    .buttons-left-dash {
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        
        button {
            width: 100%;
            padding: 0.6rem;
            margin-top: 1rem;
        }

    }
}

.right-side-dash {
    width: 75%;
    height: auto;
    background-color: white;
    padding: 0 3rem;

    display: flex;
    flex-direction: column;

    .header-right-dash {
        display: flex;
        justify-content: space-around;
        padding-top: 3rem;

        button {
            width: 100%;
            padding: 0.6rem;
            margin-top: 1rem;
        }
    }

    .last-order {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 2rem 0;

        h2 {
            margin-bottom: 1rem;
        }
    }

    .card-order {
        width: 100%;
        background-color: rgb(216, 216, 216);
        border-radius: 18px;
        height: 120px;
        margin-bottom: 2rem;

        display: flex;
        justify-content: center;
        align-items: center;

        .card-relative {
            width: 95%;
            height: 90%;
            display: flex;
            justify-content: space-between;

            .order-info {
                width: 70%;
                height: 100%;
            }

            .right-card-order {
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
            }
        }
    }

    .footer-dash {
        display: flex;
        justify-content: space-between;
    }
}