.sides-flex-edit-restaurant {
    // width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    padding: 30px 30px;
    min-height: 100vh;
    background-color: $dashboard-secondary;

    input[type=text],
    textarea,
    input[type=number]{
        width: 100%;
    }
    input {
        height: 40px;
    }
    textarea{
        min-height: 100px;
    }

    .left-side-edit-restaurant,
    .right-side-edit-restaurant {
        overflow-wrap: break-word;
        background-color: white;
        padding: 15px;
        background-color: $dashboard-secondary;

        .typology-checkbox input{
          margin: 0;
          padding: 5px 0;
          height: auto;
        }
    }

    // SIDE LEFT
    .left-side-edit-restaurant{
        // border: 4px solid #00ccbc;
        max-width: 400px;
        border-radius: 40px 0 0 40px;
        margin-bottom: 20px;
        .restaurant-image{
            width: 250px; height: 250px;
            border-radius: 50%;
            margin: 0 auto;
            border: 1px solid lightgray;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: #d7d7d7;
        }

        .left-side-edit-restaurant-buttons {
          margin-top: 25px;
          input {
            width: 100%;
          }
        }
    }
    // SIDE RIGHT
    .right-side-edit-restaurant{
        max-width: 100%;
        border-radius: 0 40px 40px 0;

        .overflow-types {
          height: 300px;
          overflow: auto;
          margin: 10px auto;
        }
    }
}

// media md, s
@media screen and (max-width: 700px) {
    .sides-flex-edit-restaurant {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
}

@media screen and (min-width: 701px) {
    .sides-flex-edit-restaurant {
        padding: 30px 30px;
    }
}

.user-bubble {
// layout
position: relative;
width: 280px;
margin: 25px 8px;
flex-shrink: 0;
display: flex;
flex-direction: column;

// looks
background-color: #fff;
padding: 20px 15px;
border-radius: 1rem;
box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 8px;

& * {
    margin-bottom: 0px;
}

p {
    margin: 8px 0;
    font-family: 'Redressed', cursive;
    font-size: 1.4rem;
    font-weight: 0;
    line-height: 1em;
    flex-grow: 1;
}
}

.user-bubble::before {
    // layout
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 1.5em; // offset should move with padding of parent
    border: .75rem solid transparent;
    border-top: none;

    // looks
    border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.user-bubble:hover {
animation:  shake 0.7s;
}

@keyframes shake {
  10%, 90% {
    transform: rotate(2deg);
  }
  20%, 80% {
    transform: rotate(-2deg);
  }
  30%, 50%, 70% {
    transform: rotate(2deg);
  }
  40%, 60% {
    transform: rotate(-2deg);
  }
}
