.main-edit-restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info {
    width: 1140px;
    margin: 2.5rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .propic-user {
        width: 300px;
        height: auto;
    }

    .left-side-edit-restaurant {
        padding: 0 1rem;
        width: 60%;
    }

    .right-side-edit-restaurant {
        width: 40%;
        padding: 0 1rem;
    }
}