.container-email{

    .card{
        
        margin: 80px auto;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 5%;

        h1 {
            margin-bottom: 20px;
        }
        
    }
}