.container-login{

    justify-content: end;

    .card{

        button {
            width: 100%;
            margin: 10px 0;
        }
        a {
            text-decoration: none;
            color: #00ccbc;
        }

    }
}