.register-button {
    margin-top: 10px;
  button {
    color: white;
    border-color: white;
    background-color: $color_deliveroo;
  }
}

.img-login {
  display: flex;
  justify-content: space-between;
  img {
    width: 350px;
  }
}

@media all and (max-width: 768px) {
  .img-login {
    justify-content: center;
    img {
      width: 90%;
    }
  }
}