#pay-button{
  width: 100%;
  padding: 20px;
}
#input-amount{
  width: 100%;
  padding:20px;
}
.pay-wallpaper{
  // background-image: url('/img/wallpaper-pay.jpg');
  background-image: url('/img/wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
