@mixin flex-centratura {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin debug-border {
  border: 1px solid black;
}
$colore_secondario: #00C2B3;
.plate_container {
  margin: 10px 0;
  margin-right: 10px;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: white;
  border-radius: 5px;
  width: 280px;
  height: 130px;
  padding: 10px;
  font-size: 16px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.08);
  &:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .plate_text {
    // @include debug-border;
    width: calc(100% - 108px);
    .title {
      font-size: 1em;
      max-height: 25%;
      overflow: hidden;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .descrizione {
      font-size: 0.8em;
      max-height: 50%;
      margin: 8px 0;
      // white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
    }
    .ingredienti {
      font-size: 0.7em;
      // height: 25%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .prices {
      position: absolute;
      bottom: 5px;
      left: 5px;
    }
    .prezzo_intero {
      font-size: 0.9em;
      font-weight: bold;
    }
    .prezzo_scontato {
      font-size: 1em;
      font-weight: bold;
    }
  }
  .plate_img {
    // @include debug-border;
    height: 108px;
    width:  108px;
    flex-shrink: 0;
    position: relative;
    background-position: center;
    background-size: cover;
    .sconto {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      width: 44px;
      height: 44px;
      position: absolute;
      bottom: 5px;
      right: 5px;
      background-color: #FB5058;
      border: 1px solid yellow;
      border-radius: 50%;
      color: white;
      font-weight: bold;
      transform: rotate(325deg);
      padding: 3px;
    }
  }
  .plate_text .prezzo_barrato {
    text-decoration: line-through;
    color: red;
    font-size: 0.9em;
  }
  .plate_esaurito {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flex-centratura;
    background-color: $sold_out_background;
    img {
      width: 140px;
      height: auto;
    }
  }

  .layover {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(1px);
  }

  // DETAILS
  .plate_detail {
    position: fixed;
    z-index: 1000;
    width: 450px;
    height: 80vh;
    max-height: 450px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    background-color: white;

    .header {
      border-bottom: 1px solid lightgrey;
      text-align: center;
      height: 50px;
      position: relative;
      @include flex-centratura;
      .close_details {
        width: 35px;
        height: 50px;
        // @include debug-border;
        @include flex-centratura;
        color: $colore_secondario;
        position: absolute;
        right: 0;
        top: 0;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .show {
      height: calc(100% - 150px);
      padding: 8px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      &:after {
        content: "";
        display: block;
        height: 8px;
        width: 100%;
        flex-shrink: 0;
      }

      .plate_img {
        margin: auto;
        width: 200px;
        height: 200px;
        margin: 10px auto;
        border-radius: 50%;
      }
      .plate_detail_info {
        flex-grow: 1;
      }
      .quantity_pannel {
        width: 200px;
        height: 30px;
        margin: 10px auto 0 auto;
        display: flex;
        // @include debug-border;
        .remove_plate {
          width: 40px;
          height: 100%;
          @include flex-centratura;
          &:hover {
            cursor: pointer;
          }
        }
        .quantity {
          width: 120px;
          height: 100%;
          font-weight: bold;
          font-size: 1.2em;
          @include flex-centratura;
        }
        .add_plate {
          width: 40px;
          height: 100%;
          @include flex-centratura;
          &:hover {
            cursor: pointer;
          }
        }
        .change_quantity {
          color: $color_deliveroo;
          font-size: 21px;
        }
      }
    }
    .total {
      height: 100px;
      border-top: 1px solid lightgrey;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      .button {
        @include flex-centratura;
        height: 60px;
        padding: 15px;
        border-radius: 3px;
        &:hover {
          cursor: pointer;
        }
      }
      .button-light {
        width: 110px;
        border: 1px solid lightgrey;
        color: $colore_secondario;
      }
      .button-strong {
        width: 220px;
        background-color: $colore_secondario;
        color: white;
      }
    }
  }
}
@media all and (max-width: 700px) {

  #rest_show_main {

    .plate_detail {
      top: 0;
      left: 0;
      transform: translate(0, 0);
      width: 100%;
      height: 100vh;
      border: 0;
      max-height: 100vh;

      .plate_img {
        width: 150px;
        height: 150px;
      }
    }
  }

}
