.header-plate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 10px 50px;
    background-color: $complementary;

    @media all and (min-width: 725px) and (max-width: 967px) {
        padding: 10px 30px;
    }

    @media all and (min-width: 576px) and (max-width: 724px) {
        padding: 10px 25px;
    }

    @media all and (min-width: 441px) and (max-width: 575px) {
        padding: 10px 30px;
    }

    @media all and (max-width: 440px) {
        height: 60px;
        padding: 10px 20px;
    }




    h1 {
        color: $color_deliveroo;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;

        @media all and (min-width: 968px) and (max-width: 1199px) {
            font-size: 30px;
        }

        @media all and (min-width: 725px) and (max-width: 967px) {
            font-size: 24px;
        }

        @media all and (min-width: 576px) and (max-width: 724px) {
            font-size: 22px;
        }


        @media all and (min-width: 441px) and (max-width: 575px) {
            font-size: 18px;
        }

        @media all and (max-width: 440px) {
            font-size: 12px;
        }


    }

    img {
        width: 120px;

        @media all and (min-width: 725px) and (max-width: 967px) {
            width: 90px;
        }

        @media all and (min-width: 576px) and (max-width: 724px) {
            width: 80px;
        }

        @media all and (min-width: 441px) and (max-width: 575px) {
            width: 70px;
        }

        @media all and (max-width: 440px) {
            width: 60px;
        }
    }
}

.form-block {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 25px 50px;
    background-color: $color_deliveroo_2;

    @media all and (min-width: 725px) and (max-width: 967px) {
        padding: 25px 30px;
    }

    @media all and (min-width: 576px) and (max-width: 724px) {
        padding: 25px;
    }

    @media all and (min-width: 441px) and (max-width: 575px) {
        padding: 25px 30px;
    }

    @media all and (max-width: 440px) {
        padding: 25px 20px;
    }

    img {
        position: absolute;
        top: 15%;
        right: 12%;
        width: 600px;

        @media all and (min-width: 1200px) and (max-width: 1599px) {
            top: 21%;
            width: 420px;
        }

        @media all and (min-width: 968px) and (max-width: 1199px) {
            top: 26%;
            right: 10%;
            width: 350px;
        }

        @media all and (min-width: 725px) and (max-width: 967px) {
            display: none;
        }

        @media all and (min-width: 576px) and (max-width: 724px) {
            display: none;
        }

        @media all and (min-width: 441px) and (max-width: 575px) {
            display: none;
        }

        @media all and (max-width: 440px) {
            display: none;
        }


    }

    h4 {
        color: $color_text_2;
        font-weight: bold;
        margin-bottom: 10px;

        @media all and (min-width: 968px) and (max-width: 1199px) {
            font-size: 20px;
        }


        @media all and (min-width: 725px) and (max-width: 967px) {
            font-size: 18px;
        }

        @media all and (min-width: 576px) and (max-width: 724px) {
            font-size: 16px;
        }

        @media all and (min-width: 441px) and (max-width: 575px) {
            text-align: center;
            font-size: 14px;
        }

        @media all and (max-width: 440px) {
            text-align: center;
            font-size: 12px;
        }

    }

    h6 {
        color: red;
        margin-bottom: 25px;

        @media all and (min-width: 576px) and (max-width: 724px) {
            font-size: 14px;
        }

        @media all and (min-width: 441px) and (max-width: 575px) {
            text-align: center;
            font-size: 10px;
        }

        @media all and (max-width: 440px) {
            text-align: center;
            font-size: 8px;
        }

    }


    span {
        margin-right: 10px;
        font-size: 18px;
        font-weight: bold;

        @media all and (min-width: 576px) and (max-width: 724px) {
            font-size: 16px;
        }

        @media all and (min-width: 441px) and (max-width: 575px) {
            font-size: 14px;
        }

        @media all and (max-width: 440px) {
            font-size: 12px;
        }
    }

    select {
        text-indent: 6px;
        height: 30px;
        width: 125px;
        border: none;
        border-radius: 5px;
        outline: none;
        border: 1px solid  $border_color_input;
        box-shadow: inset 1px 5px 8px rgba(0, 0, 0, 0.07);

        @media all and (max-width: 440px) {
            width: 115px;
        }

    }
}

.textbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;


    label {
        color: $color_text_3;
        font-size: 18px;
        font-weight: bold;

        @media all and (min-width: 576px) and (max-width: 724px) {
            font-size: 16px;
        }


        @media all and (min-width: 441px) and (max-width: 575px) {
            font-size: 14px;
        }

        @media all and (max-width: 440px) {
            font-size: 12px;
        }
    }

    input {
        text-indent: 10px;
        width: 30%;
        height: 38px;
        border-radius: 6px;
        outline: none;
        border: 1px solid  $border_color_input;
        box-shadow: inset 1px 5px 8px rgba(0, 0, 0, 0.07);

        @media all and (min-width: 1200px) and (max-width: 1599px) {
            width: 36%;
        }


        @media all and (min-width: 968px) and (max-width: 1199px) {
            width: 42%;
        }

        @media all and (min-width: 725px) and (max-width: 967px) {
            width: 48%;
        }

        @media all and (min-width: 576px) and (max-width: 724px) {
            width: 56%;
        }


        @media all and (min-width: 441px) and (max-width: 575px) {
            width: 100%;
        }

        @media all and (max-width: 440px) {
            height: 34px;
            width: 100%;
        }


    }

    textarea {
        text-indent: 8px;
        width: 30%;
        border-radius: 6px;
        outline: none;
        border: 1px solid  $border_color_input;
        box-shadow: inset 1px 5px 8px rgba(0, 0, 0, 0.07);

        @media all and (min-width: 1200px) and (max-width: 1599px) {
            width: 36%;
        }


        @media all and (min-width: 968px) and (max-width: 1199px) {
            width: 42%;
        }

        @media all and (min-width: 725px) and (max-width: 967px) {
            width: 48%;
        }

        @media all and (min-width: 576px) and (max-width: 724px) {
            width: 56%;
        }


        @media all and (min-width: 441px) and (max-width: 575px) {
            width: 100%;
        }

        @media all and (max-width: 440px) {
            width: 100%;
        }
    }
}

.text-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;

    @media all and (min-width: 441px) and (max-width: 575px) {
        width: 130px;
    }

    @media all and (max-width: 440px) {
        width: 120px;
    }

    label {
        color: $color_text_3;
        font-size: 18px;
        font-weight: bold;
        margin: 0 10px 0 0;

        @media all and (min-width: 576px) and (max-width: 724px) {
            font-size: 16px;
        }

        @media all and (min-width: 441px) and (max-width: 575px) {
            font-size: 14px;
        }

        @media all and (max-width: 440px) {
            font-size: 12px;
        }
    }

    input {
        width: 30px;
        height: 20px;
        border-style: none;
        outline: none;
        border: 1px solid  $border_color_input;

        @media all and (min-width: 441px) and (max-width: 575px) {
            width: 25px;
            height: 15px;
        }

        @media all and (max-width: 440px) {
            width: 25px;
            height: 15px;
        }

    }
}

.textbox-discount {
    margin-top: 10px;
    margin-bottom: 15px;

    @media all and (max-width: 575px) {
        width: 85%;
    }

    label {
        color: $color_text_3;
        font-size: 18px;
        font-weight: bold;
        margin-right: 10px;

        @media all and (min-width: 576px) and (max-width: 724px) {
            font-size: 16px;
        }

        @media all and (min-width: 441px) and (max-width: 575px) {
            font-size: 14px;
        }

        @media all and (max-width: 440px) {
            font-size: 12px;
        }
    }

    input {
        text-indent: 8px;
        width: 80px;
        height: 34px;
        border-radius: 6px;
        border: none;
        outline: none;
        border: 1px solid  $border_color_input;
        box-shadow: inset 1px 5px 8px rgba(0, 0, 0, 0.07);

        @media all and (max-width: 440px) {
            width: 65px;
        }

    }
}

.img-box {
    margin-top: 25px;

    label {
        color: $color_text_3;
        font-size: 18px;
        font-weight: bold;
        margin-right: 10px;

        @media all and (min-width: 576px) and (max-width: 724px) {
            font-size: 16px;
        }

        @media all and (min-width: 441px) and (max-width: 575px) {
            font-size: 14px;
        }

        @media all and (max-width: 440px) {
            font-size: 12px;
        }
    }
}

.button-save {
    margin-top: 35px;
    margin-bottom: 20px;

    @media all and (min-width: 441px) and (max-width: 575px) {
        margin-top: 30px;
    }

    @media all and (max-width: 440px) {
        margin-top: 25px;
    }


    input {
        font-size: 20px;
        font-weight: bold;
        color: $variable2;
        background-color: $color_deliveroo;
        text-transform: uppercase;
        height: 50px;
        width: 150px;
        border: none;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 8px rgba(255, 255, 255, 0.50);
        transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;

        @media all and (min-width: 441px) and (max-width: 575px) {
            height: 40px;
            width: 140px;
        }

        @media all and (max-width: 440px) {
            height: 30px;
            width: 130px;
        }

    }
}

.required::after {
    content: " *";
    color: red;
}

// HOVER
.button-save input:hover {
    color: $color_text_3;
    background-color: $primary;
    transform: scale(1.02);
}
