.container-register{

    justify-content: start;
    // background-image: url("/img/wallpaper.jpg");

    .card {
        
        // border: 1px solid black;

        button {
            width: 100px;
            cursor: pointer;
        }
    }
}