.container-register{

    width: 100%;
    justify-content: start;
    background-image: url("/storage/polygon.svg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    font-size: 15px;

    .card {
        background: none;
        border: 0;
        margin-bottom: 20px;
        // border: 1px solid black;

        button {
            width: 100px;
        }

        .title {
          h1 {
            font-size: 3.1em;
          }
          p {
            font-size: 1.8em;
          }
        }
    }


}

// media md, s
@media screen and (max-width: 800px) {
    .container-register {

        .card {
            margin: 20px 20px;
        }
    }
}

// media lg
@media screen and (min-width: 801px) {

    .container-register {

        .card {
            margin-top: 30px;
            margin-left: 10%;
        }
    }
}
