.container-register{

    // background-image: url("/img/wallpaper.jpg");

    .card {
        margin: 5% 10%;
        // border: 1px solid black;

        button {
            width: 100px;
            cursor: pointer;
        }
    }
}