header {

  .cart_header {
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;

    .box {
      display: flex;
      height: 40px;
      padding: 8px;
      border: 1px solid rgba(0, 0, 0, 0.08);
      border-radius: 5px;
      align-items: center;
      .header_price {
        padding: 5px;
        padding-left: 8px;
        margin: 0;
      }

    }
  }
}

.rest_info_show {
  max-width: 950px;
  margin: auto;
  margin-top: 30px;
  padding: 20px 25px;
  padding-bottom: 15px;
  min-height: 200px;
  font-size: 15px;
  display: flex;

  .rest_info_left {
    width: 70%;

    .typology-box {
      margin: 8px 0;
    }
  }
  .rest_info_right {
    width: 30%;
    min-width: 265px;
    .rest_photo {
      width: 100%;
      height: 170px;
      // border: 1px solid black;

      .photo {
        border-radius: 4px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    .delivery-box {
      display: flex;
      align-items: center;
      padding: 8px 0;

      i {
        color: $color_deliveroo;
        font-size: 35px;
        padding: 5px;
      }
      .rest_address {
        margin: 0;
      }
      .rest_delivery_cost {
        margin: 0;
      }
    }

  }

  & * {
    font-size: 1em;
  }

  .rest_name {
    font-size: 1.3em;
    font-weight: bold;
  }
  .rate-box {
    i {
      color: $color_deliveroo;
    }
  }

  .typology-box {
    span::after {
      content: " - ";
    }
    & span:last-child:after {
      content: "";
    }
  }

  .more_info {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 15px;
    width: 70%;

    .more-info-title {
      font-size: 1em;
      font-weight: 700;
    }
  }
}

#rest_show_main {
  max-width: 950px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  // DEBUG:
  // border: 1px solid black;

  .rest_show_left {
    min-height: 400px;
    // DEBUG:
    // border: 1px solid black;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .rest_show_right {
    min-height: 200px;
    // DEBUG:
    border: 1px solid black;
    width: 30%;
  }
}
