@mixin flex-centratura {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin debug-border {
  border: 1px solid black;
}

  .all-restaurants {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .restaurant {
      width: calc(100% / 3);


    .restaurant_container {
      min-height: 13px;
      width: 100%;
      font-size: 20px;
      padding: 10px;

      a {
        text-decoration: none;
        color: black;
        width: 100%;
      }

      & * {
        margin: 0;
        padding: 0;
      }

      section {
        // @include debug-border;
      }

      .img{
        // width: 260px;
        height: 180px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
      }
      .description {
        // width: 260px;
        height: 130px;
        padding: 5px;

        .title {
          font-size: 0.9em;
          font-weight: bold;
        }
        .rate {
          font-size: 0.9em;
          font-style: italic;
          color: $color_deliveroo;
          .rate_number {
            color: $soft-text;
            padding: 3px;
          }
        }
        .typology {
          font-size: 0.9em;
          color: $soft-text;
        }
        .delivery_cost {
          font-size: 0.8em;
          font-weight: bold;
          color: $soft-text;
        }
      }
    }
  }
}

@media screen and(min-width: 601px) and (max-width: 820px) { //da 601 a 820

  .container-welcome {

    .restaurant {
      width: 50%;
    }
  }
}
@media screen and(min-width: 401px) and (max-width: 600px) { //da 0 a 600
  .container-welcome {

    .restaurant {
      width: 90%;
      margin: 0 auto;
    }
  }
}

@media screen and(max-width: 400px) { //da 0 a 400
  .container-welcome {

    .restaurant {
      width: 95%;
      margin: 0 auto;
    }
  }
}
