// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$bluedark: #1027f2;

// palette 1 prova

$primary: #F6C90E;
$secondary: #303841;
$complementary: #eeeeee;
$variable1: #3a4750;
$variable2: #ffffff;
$color_deliveroo: #00CCBC;
$color_deliveroo_2: #D0EB99;
$color_deliveroo_3: #016D68;
$color_text_1: #017E8A;
$color_text_2: #450063;
$color_text_3: #2E3333;
$border_color_input: #A3AFAF;
$soft-text: #8285A5;
$discount-price: #FB5058;
$border_color_input: #A3AFAF;
$colore_secondario: #00C2B3;
$sold_out_background: rgba(224, 235, 235, 0.4);
$disabled-button: #E2E5E5;

// border-radius
$border-card: 5px;
$border_button: 8px;

// font-size
$font_username: 35px;

// padding
$padding_button: 0.8rem;

// shadow
$shadow_button: 1px 1px 5px 0px rgba(0,0,0,0.30);

// margin
$margin_button_left: 1.3rem;


// variabile che centra tutto
@mixin allcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
