.container-welcome{

  #header-search {
    display: flex;
  }
  #header-no-search {
    display: none;
  }

  .header-responsive-home {
    display: none;
    width: 80%;
    margin: 8px auto 0 auto;

    #search-bar {
      min-width: 0;
    }
  }
  
  .header-container-welcome, 
  .main-container-welcome, 
  .footer-container-welcome {
    // width: 900px;
    margin: 0 auto;
  }
  // MAIN
  main {
    //debug
    // background-color: $red;
    padding: 20px 0;
    min-height: 500px;
    //end

    .main-container-welcome {
      width: 90%;
      margin: 0 auto;

      .restaurants {
        display: flex;
      //   justify-content: space-between;
        flex-wrap: wrap;

      .card {
        width: calc(25% - 20px);
        margin: 10px;
        height: 400px;
        border: 1px solid;
        border-radius: 10px;

      }

    }

  }


}

@media screen and (max-width: 980px) {

  .container-welcome{

    #header-search{
      display: none;
    }


    #header-no-search {
      display: flex;
    }

  }

  .header-responsive-home {
    display: block !important;
  }
}

// HEADER, MAIN, FOOTER CONTAINER
@media screen and(max-width: 973px) { //da 0 a 973px
  .header-container-welcome, 
  .main-container-welcome, 
  .footer-container-welcome {
    width: 80%;
  }
} 
@media screen and(min-width: 974px) { //da 974 in su
  .header-container-welcome, 
  .main-container-welcome, 
  .footer-container-welcome {
    
    width: 900px;
  }
} 