
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap'; 

// Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';

@import 'welcome';
@import 'carousel';
@import 'pay';

// other
@import 'plate';
@import 'plate_create_and_edit';
@import 'cart';
@import 'search-bar';

@import 'dashboard';
@import 'dashboard_plates';
@import 'plate-home';

@import 'restaurant';
@import 'edit_restaurant';
@import 'restaurant-show';

// nuovi file scss, commento da cencellare è solo un promemoria
@import 'header';
@import 'footer';
// @import 'jumbotron';
@import 'home';
@import 'animations';


@import 'welcome';
@import 'carousel';
@import 'order';
@import 'pay';


// auth
@import 'auth';
@import 'register';
@import 'login';
@import 'email';

//stats
@import 'statistics';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alertpay{
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 10px;
  z-index: 999;
}

.scroll-hide {
  overflow: hidden !important;
}
