
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// other
@import 'plate';

@import 'dashboard';
@import 'dashboard_plates';

@import 'edit_restaurant';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
